body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1f1f1f;
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    overflow: hidden;
}

.scroll-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    transform-style: preserve-3d;
		position: relative;
}

.scroll-content {
    position: absolute;
    top: calc(100vh * var(--content-index));
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
    transform-origin: center;
    transform-style: preserve-3d;
    text-align: center;
    transition: transform 1s ease-in-out;
}

.scroll-image {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #1f1f1f;
}

